:root {
    --primary: #A63233;
    --secondary: #0027A4;
    --light: #fff;
    --dark: #000;
    --light-dark: #5e5e5e;
    --box-shadow-1: 0 0 0.875rem 0 rgba(33, 37, 41, 0.05);
    --box-shadow-2: 0 4px 6px rgba(0, 0, 0, 0.1);
    --transition: 0.5s ease-in-out;
    /* --main-font: "Purple Purse", serif; */
    --main-font: "Bangers", serif;
    --secondary-font: "Jost", sans-serif;
}