/* Header */
.header {
    background-color: var(--light);
    position: relative;
}

.header video {
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(30%);
    z-index: 0;
}

.header .headercntnt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.header .headerdiv .headercntnt h6 {
    color: var(--dark);
    font-weight: var(--fw-md);
    text-transform: uppercase;
    text-align: center;
}

.header .headerdiv .headercntnt h3 {
    color: var(--dark);
    font-weight: var(--fw-sm);
    text-transform: capitalize;
    font-family: var(--main-font);
    text-align: center;
}

/* Contact Info */
.contactinfo {
    width: 100%;
    margin-top: 50px;
    background-color: var(--primary);
}

.contactinfodiv {
    width: 90%;
    margin: auto;
}

.contactinfoct h4 {
    color: var(--light);
    font-weight: var(--fw-md);
    margin-bottom: 0px;
}

.contactinfoct h2 {
    color: var(--light);
    font-weight: var(--fw-xxl);
    margin-top: 20px;
    margin-bottom: 0px;
}

.contactinfoct h5 {
    color: var(--light);
    font-weight: var(--fw-xl);
    margin-bottom: 0px;
}

.contactinfoct h6,
.contactinfoct h6 a {
    color: var(--light);
    margin-top: 15px;
    margin-bottom: 0px;
}

/* Contact */
.contactmain {
    width: 100%;
    margin: 50px auto;
}

.contacthead h2 {
    color: var(--dark);
    font-weight: var(--fw-xxl);
}

.contacthead h5 {
    font-weight: var(--fw-sm);
}

.contactform .col-sm-12 label {
    font-weight: var(--fw-lg);
    color: var(--dark);
}

.contactform .col-sm-12 input,
.contactform .col-sm-12 textarea {
    color: var(--light-dark);
    border: 2px solid #0000002f;
    background-color: transparent;
    border-radius: 5px;
    padding: 8px 10px;
    margin-top: 5px;
}

@media screen and (min-width: 1098px) {

    /* Header */
    .header {
        height: 600px;
    }

    .header video {
        height: 600px;
    }

    .header .headerdiv .headercntnt h6 {
        font-size: 14px;
    }

    .header .headerdiv .headercntnt h3 {
        font-size: 35px;
        width: 70%;
    }

    /* Contact Info */
    .contactinfo {
        height: 250px;
    }

    .contactinfodiv {
        display: grid;
        grid-template-columns: repeat(4, 24%);
        /* align-items: center; */
        justify-content: space-between;
        padding: 50px 0px;
    }

    .contactinfoct h4 {
        font-size: 20px;
    }

    .contactinfoct h2 {
        font-size: 30px;
        width: 85%;
    }

    .contactinfoct h5 {
        font-size: 18px;
    }

    .contactinfoct h6,
    .contactinfoct h6 a {
        width: 80%;
        font-size: 12px;
        line-height: 30px;
    }

    /* Contact */
    .contactdiv {
        width: 85%;
        padding: 20px 40px;
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
        margin: auto;
    }

    .contacthead h2 {
        font-size: 20px;
    }

    .contacthead h5 {
        font-size: 12px;
    }

    .contactmapdiv {
        margin-top: 20px;
    }

    /* Contact Form */
    .contactform .col-sm-12 {
        margin: 8px 0px;
    }

    .contactform .col-sm-12 label {
        font-size: 14px;
    }

    .contactform .col-sm-12 input,
    .contactform .col-sm-12 textarea {
        font-size: 12px;
    }

}

@media screen and (min-width: 767px) and (max-width: 1098px) {

    /* Header */
    .header {
        height: 500px;
    }

    .header video {
        height: 500px;
    }

    .header .headercntnt {
        width: 75%;
    }

    .header .headerdiv .headercntnt h6 {
        font-size: 12px;
    }

    .header .headerdiv .headercntnt h3 {
        font-size: 25px;
        width: 70%;
    }

    /* Contact Info */
    .contactinfodiv {
        display: grid;
        grid-template-columns: repeat(4, 24%);
        /* align-items: center; */
        justify-content: space-between;
        padding: 30px 0px;
    }

    .contactinfoct h4 {
        font-size: 14px;
    }

    .contactinfoct h2 {
        font-size: 25px;
        width: 90%;
    }

    .contactinfoct h5 {
        font-size: 14px;
    }

    .contactinfoct h6,
    .contactinfoct h6 a {
        width: 90%;
        font-size: 12px;
        line-height: 25px;
    }

    /* Contact */
    .contactdiv {
        width: 90%;
        padding: 15px 20px;
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
        margin: auto;
    }

    .contacthead h2 {
        font-size: 18px;
    }

    .contacthead h5 {
        font-size: 12px;
    }

    .contactmapdiv {
        margin-top: 15px;
    }

    .contactmapdiv .gmap {
        height: 325px !important;
    }

    /* Contact Form */
    .contactform .col-sm-12 {
        margin: 6px 0px;
    }

    .contactform .col-sm-12 label {
        font-size: 12px;
    }

    .contactform .col-sm-12 input,
    .contactform .col-sm-12 textarea {
        font-size: 12px;
    }

}

@media screen and (max-width: 767px) {

    /* Header */
    .header {
        height: 600px;
    }

    .header video {
        height: 600px;
    }

    .header .headercntnt {
        width: 95%;
    }

    .header .headerdiv .headercntnt h6 {
        font-size: 12px;
    }

    .header .headerdiv .headercntnt h3 {
        font-size: 20px;
        width: 100%;
    }

    /* Contact Info */
    .contactinfodiv {
        padding: 30px 0px;
    }

    .contactinfoct h4 {
        font-size: 14px;
    }

    .contactinfoct h2 {
        font-size: 18px;
        width: 90%;
    }

    .contactinfoct h5 {
        font-size: 14px;
        margin-top: 20px;
    }

    .contactinfoct h6,
    .contactinfoct h6 a {
        font-size: 12px;
        width: 90%;
        line-height: 25px;
    }

    /* Contact */
    .contactdiv {
        width: 95%;
        padding: 15px 20px;
        margin: auto;
    }

    .contacthead h2 {
        font-size: 18px;
    }

    .contacthead h5 {
        font-size: 12px;
    }

    .contactmapdiv {
        margin-top: 15px;
    }

    .contactmapdiv .gmap {
        height: 300px !important;
    }

    /* Contact Form */
    .contactform .col-sm-12 {
        margin: 8px 0px;
    }

    .contactform .col-sm-12 label {
        font-size: 12px;
    }

    .contactform .col-sm-12 input,
    .contactform .col-sm-12 textarea {
        font-size: 12px;
    }

}