.cardgrp1 .card1:hover {
    transition: var(--transition);
    border: 1px solid #888;
}

/* Headings */
.corevalueshead h3 {
    color: var(--primary);
    font-weight: var(--fw-sm);
    font-family: var(--main-font);
    text-align: center;
}

/* Header */
.header {
    background-color: var(--primary);
    height: 600px;
    position: relative;
}

.header video {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
    filter: brightness(30%);
    z-index: 0;
}

.header .headercntnt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.header .headerdiv .headercntnt h6 {
    color: var(--light);
    font-weight: var(--fw-md);
    text-transform: uppercase;
    text-align: center;
}

.header .headerdiv .headercntnt h3 {
    color: var(--light);
    font-weight: var(--fw-sm);
    text-transform: capitalize;
    font-family: var(--main-font);
    text-align: center;
}

/* Core Values */
.corevalues {
    margin: 50px auto;
}

.corevaluesdiv {
    margin: auto;
}

.cardgrp1 {
    display: grid;
    justify-content: space-between;
}

.cardgrp1 .card1 {
    width: 90%;
    margin: 0px auto 15px auto;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 5px 15px;
    box-shadow: var(--box-shadow-2);
}

.cardgrp1 .card1 img {
    margin-bottom: 10px;
}

.cardgrp1 .card1 h5 {
    font-weight: var(--fw-lg);
    color: #111317;
    margin: 10px 0px;
}

.cardgrp1 .card1 h6 {
    font-weight: var(--fw-sm);
    width: 90%;
}

/* Carousel */
.corevalues .splide .splide__slide div {
    height: 200px;
    margin: auto;
}

.corevalues .splide .splide__slide div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: auto;
    border-radius: 5px;
}

@media screen and (min-width: 1023px) {

    /* Headings */
    .corevalueshead h3 {
        font-size: 30px;
        margin-bottom: 30px !important;
    }

    /* Header */
    .header .headerdiv .headercntnt h6 {
        font-size: 14px;
    }

    .header .headerdiv .headercntnt h3 {
        font-size: 35px;
        width: 70%;
    }

    /* Core Values */
    .corevaluesdiv {
        width: 90%;
    }

    .cardgrp1 {
        grid-template-columns: repeat(4, 1fr);
    }

    .cardgrp1 .card1 h5 {
        font-size: 18px;
    }

    .cardgrp1 .card1 h6 {
        font-size: 14px;
        line-height: 25px;
    }

    /* Carousel */
    .corevalues .splide .splide__slide div {
        width: 90%;
    }

}

@media screen and (min-width: 767px) and (max-width: 1023px) {

    /* Headings */
    .corevalueshead h3 {
        font-size: 30px;
        margin-bottom: 30px !important;
    }

    /* Header */
    .header .headercntnt {
        width: 95%;
    }

    .header .headerdiv .headercntnt h6 {
        font-size: 12px;
    }

    .header .headerdiv .headercntnt h3 {
        font-size: 30px;
        width: 70%;
    }

    /* Core Values */
    .corevaluesdiv {
        width: 95%;
    }

    .cardgrp1 {
        grid-template-columns: repeat(3, 1fr);
    }

    .cardgrp1 .card1 h5 {
        font-size: 16px;
    }

    .cardgrp1 .card1 h6 {
        font-size: 12px;
        line-height: 20px;
    }

    /* Carousel */
    .corevalues .splide .splide__slide div {
        width: 90%;
    }

}

@media screen and (max-width: 767px) {

    /* Headings */
    .corevalueshead h3 {
        font-size: 25px;
    }

    /* Header */
    .header .headercntnt {
        width: 95%;
    }

    .header .headerdiv .headercntnt h6 {
        font-size: 12px;
    }

    .header .headerdiv .headercntnt h3 {
        font-size: 25px;
        width: 100%;
    }

    /* Core Values */
    .corevaluesdiv {
        width: 95%;
    }

    .cardgrp1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .cardgrp1 .card1 img {
        height: 50px;
    }

    .cardgrp1 .card1 h5 {
        font-size: 16px;
    }

    .cardgrp1 .card1 h6 {
        font-size: 12px;
        line-height: 20px;
    }

    /* Carousel */
    .corevalues .splide .splide__slide div {
        width: 95%;
    }

}