@media screen and (min-width: 1023px) {
    .footer {
        color: #2C3E50;
        padding: 10px 10px 10px 10px;
        z-index: 999;
        font-weight: 400;
        background-color: var(--primary);
        /* margin-top: 200px; */
    }

    .footer .container-fluid {
        width: 90%;
        margin: auto;
    }

    #brands li a {
        background-color: var(--light);
        color: var(--primary);
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        transition: 0.5s all;
    }

    #brands #facebook:hover {
        background-color: #3A5696;
        color: var(--light);
    }

    #brands #instagram:hover {
        background: rgb(131, 58, 180);
        background: linear-gradient(90deg, rgba(131, 58, 180, 1) 9%, rgba(253, 29, 29, 1) 70%, rgba(252, 176, 69, 1) 100%);
        color: var(--light);
    }

    #brands #linkedin:hover {
        background-color: #2864AA;
        color: var(--light);
    }

    #brands #youtube:hover {
        background-color: #ff0000;
        color: var(--light);
    }

    #brands #whatsapp:hover {
        background-color: #31D24E;
        color: var(--light);
    }

    .footer #footerdiv {
        margin-top: 10px;
    }

    /* Company Info */
    .footer #footerdiv #cmpnyinfo h5,
    .footer #footerdiv #cmpnyinfo h5 a {
        color: var(--light) !important;
        font-size: 15px;
        font-weight: 450;
        margin-top: 10px;
    }

    .footer #footerdiv .footerheadings h5 {
        color: var(--light);
        margin-top: 10px;
        font-size: 20px;
        font-weight: 300;
        font-family: var(--main-font);
    }

    .footer #footerdiv #cmpnyinfo h5 i {
        color: var(--light);
        font-size: 20px;
    }

    .footer .nav-item a,
    .footer .col-md-3 form p {
        color: var(--light);
        font-weight: 400;
        font-size: 12px;
    }

    .footer .nav-item a:hover {
        /* color: var(--dark); */
        transition: var(--transition);
        text-decoration: underline var(--light);
    }

    /* Brands Footer */
    .brandsfooter {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .brandsfooter h6 {
        color: var(--light);
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
    }

}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .footer {
        color: #2C3E50;
        padding: 10px 10px 10px 10px;
        z-index: 10;
        font-weight: 400;
        background-color: var(--primary);
    }

    .footer .container-fluid {
        width: 90%;
        margin: auto;
    }

    .footer .footerlogo img {
        height: 100px !important;
    }

    #brands li a {
        background-color: var(--light);
        color: var(--primary);
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        transition: 0.5s all;
    }

    #brands #facebook:hover {
        background-color: #3A5696;
        color: var(--light);
    }

    #brands #instagram:hover {
        background: rgb(131, 58, 180);
        background: linear-gradient(90deg, rgba(131, 58, 180, 1) 9%, rgba(253, 29, 29, 1) 70%, rgba(252, 176, 69, 1) 100%);
        color: var(--light);
    }

    #brands #linkedin:hover {
        background-color: #2864AA;
        color: var(--light);
    }

    #brands #youtube:hover {
        background-color: #ff0000;
        color: var(--light);
    }

    #brands #whatsapp:hover {
        background-color: #31D24E;
        color: var(--light);
    }

    .footer #footerdiv {
        margin-top: 10px;
    }

    /* Company Info */
    .footer #footerdiv #cmpnyinfo h5,
    .footer #footerdiv #cmpnyinfo h5 a {
        color: var(--light) !important;
        font-size: 13px;
        font-weight: 450;
        text-transform: uppercase;
    }

    .footer #footerdiv .footerheadings h5 {
        color: var(--light);
        margin-top: 5px;
        font-size: 17px;
        font-weight: 300;
        font-family: var(--main-font);
    }

    .footer #footerdiv #cmpnyinfo h5 i {
        color: var(--light);
        font-size: 17px;
    }

    .footer .nav-item {
        margin-bottom: 0px !important;
    }

    .footer .nav-item a,
    .footer .col-md-3 form p {
        color: var(--light);
        font-weight: 400;
        font-size: 10px;
    }

    .footer .nav-item a:hover {
        /* color: var(--dark); */
        transition: var(--transition);
        text-decoration: underline var(--light);
    }

    /* Brands Footer */
    .brandsfooter {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .brandsfooter h6 {
        color: var(--light);
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
    }

}

@media screen and (max-width: 767px) {
    .footer {
        color: #2C3E50;
        padding: 10px 10px 10px 10px;
        z-index: 10;
        font-weight: 400;
        background-color: var(--primary);
    }

    .footer .container-fluid {
        width: 95%;
        margin: auto;
    }

    .footer {
        width: 100%;
        display: block;
        margin: auto;
    }

    .footer .footerlogo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #brands li a {
        background-color: var(--light);
        color: var(--primary);
        color: #2C3E50;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        transition: 0.5s all;
    }

    #brands #facebook:hover {
        background-color: #3A5696;
        color: var(--light);
    }

    #brands #instagram:hover {
        background: rgb(131, 58, 180);
        background: linear-gradient(90deg, rgba(131, 58, 180, 1) 9%, rgba(253, 29, 29, 1) 70%, rgba(252, 176, 69, 1) 100%);
        color: var(--light);
    }

    #brands #linkedin:hover {
        background-color: #2864AA;
        color: var(--light);
    }

    #brands #youtube:hover {
        background-color: #ff0000;
        color: var(--light);
    }

    #brands #whatsapp:hover {
        background-color: #31D24E;
        color: var(--light);
    }

    #brands #instagram:hover {
        background-color: #CD2954;
        color: var(--light);
    }

    .footer #footerdiv {
        margin-top: 10px;
    }

    /* Company Info */
    .footer #footerdiv #cmpnyinfo h5,
    .footer #footerdiv #cmpnyinfo h5 a {
        color: var(--light) !important;
        font-size: 15px;
        font-weight: 450;
        text-transform: uppercase;
    }

    .footer #footerdiv .footerheadings h5 {
        color: var(--light);
        margin-top: 15px;
        font-size: 20px;
        font-weight: 300;
        font-family: var(--main-font);
    }

    .footer #footerdiv #cmpnyinfo h5 i {
        color: var(--light);
        font-size: 20px;
    }

    .footer .nav-item {
        margin-bottom: 0px !important;
    }

    .footer .nav-item a,
    .footer .col-md-3 form p {
        color: var(--light);
        font-weight: 400;
        font-size: 13px;
    }

    .footer .nav-item a:hover {
        /* color: var(--dark); */
        transition: var(--transition);
        text-decoration: underline var(--light);
    }

    /* Brands Footer */
    .brandsfooter {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .brandsfooter h6 {
        color: var(--light);
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
    }

}