* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--secondary-font);
}

html::-webkit-scrollbar {
    width: 12px;
    cursor: pointer;
}

html::-webkit-scrollbar-track {
    background: #f4f4f4;
}

html::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 10px;
    border: 3px solid #f4f4f4;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark);
}

body {
    background: var(--light);
    position: relative;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

label span {
    color: #ff0000 !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-ms-clear {
    display: none;
}

/* Floating Button */
.icon-container {
    z-index: 90;
    position: relative;
    cursor: pointer;
}

.icon {
    height: 50px;
    position: fixed;
    right: 2%;
    cursor: pointer;
}

.icon.reachout {
    /* animation: rotate 20s infinite; */
    bottom: 5%;
}

.icon.whatsapp {
    bottom: 14%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}